# Model Inference

- Nama : Irfan Risqy Trianto
- Batch : BSD - 001

Pada model inference ini akan dilakukan prediksi status default payment klien

In [1]:
# Import Libraries
import pickle
import json
import pandas as pd 
import numpy as np

In [2]:
# Load data yang sudah dibuat di model
with open('final_pipeline.pkl', 'rb') as file:
    final_pipeline = pickle.load(file)

In [3]:
data_inf = {
    'limit_balance':50000, 
    'sex':1, 
    'education_level':1, 
    'marital_status':1, 
    'age':20,
    'pay_0':2, 
    'pay_2':2, 
    'pay_3':2, 
    'pay_4':2, 
    'pay_5':2, 
    'pay_6':2, 
    'bill_amt_1':50000,
    'bill_amt_2':50000, 
    'bill_amt_3':50000, 
    'bill_amt_4':50000, 
    'bill_amt_5':50000, 
    'bill_amt_6':50000,
    'pay_amt_1':2000, 
    'pay_amt_2':2000, 
    'pay_amt_3':2000, 
    'pay_amt_4':2000, 
    'pay_amt_5':2000,
    'pay_amt_6':2000, 
}

In [4]:
# Convert to dataframe
data_inf = pd.DataFrame([data_inf])
data_inf

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,50000,1,1,1,20,2,2,2,2,2,...,50000,50000,50000,50000,2000,2000,2000,2000,2000,2000

In [5]:
# Predict using linear
y_pred_inf = final_pipeline.predict(data_inf)
print('Predict:',y_pred_inf[0])

Predict: 1

Bisa dilihat berdasarkan hasil prediksi dari data inference, status payment klien untuk bulan berikutnya default.